.container {
  margin-top: 50px;
}
/*
form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: left;
}
h2 {
  text-align: center;
}
fieldset {
  display: flex;
  flex-direction: column;
  justify-self: center;
  padding: 20px 10px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: aliceblue;
  margin-top: 20px;
}
legend {
  font-weight: 700;
}
label {
  margin-top: 10px;
}
input {
  margin-top: 10px;
  outline: none;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 3px;
} */